<%-include("partials/header.ejs")%>        
        <link type='text/css' rel='stylesheet' href='/stylesheets/home.css'>
    </head>
    <body>
        <h1>
            Hi There!
        </h1>
        <h2>
            This is a productivity web app in development!
        </h2>
        <div class="buttons">
        <a class='btn btn-success' role='button' href='/google'>See your events</a> 
        <a class='btn btn-warning' role='button' href='/timer'>Set a timer</a>   
        </div>
    </body>
</html>
<%-include("partials/footer.ejs")%>   