html,body,main{
    min-height:100vh;
}

@font-face{
    font-family: 'notosans';
    src: url('../assets/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
}

h1{
    font-family: 'notosans', sans-serif;
    font-weight: 600;
}