html,body,main{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

.first{    
    background-color: rgb(124, 252, 151);
}

.third{
    background-color: #7df9ff;
}

.fourth{
    background-color: #fdfd4c;
}

.fifth{
    background-color:#ff8300;
}

section{
    min-width: 100vw;
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    width:100%;
}

#ticking{
    width: 600px;
}

.buttons{
    flex-direction: row;
    align-items: center;
}

@font-face{
    font-family: 'notosans';
    src: url('../assets/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'hindsiliguri';
    src: url('../assets/Hind_Siliguri/HindSiliguri-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'lato';
    src: url('../assets/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'latoboldi';
    src: url('../assets/Lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face{
    font-family: 'notosansi';
    src: url('../assets/Noto_Sans/NotoSans-Italic.ttf') format('truetype');
}

h1,h2{
    font-family: 'notosans', sans-serif;
    font-weight: 600;
}

h5{
    font-family: 'latoboldi';
}

h6{
    font-family: 'lato';
}

p{
    font-family: 'lato';
}

h1,h2{
    text-decoration: underline;
    padding-bottom: 3em;
}

.x{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.y{
    width: 75%;
    margin-top: 5em;
    border-top: 4px solid rgb(212, 71, 71);
    margin-bottom: 3em;
}

a{
    color: inherit;
}

a:hover{
    color: inherit;
    text-decoration: inherit;
}

.verticalslide{
    text-align: left;
}

.verticalslide li{
    font-family: 'hindsiliguri';
    text-align: left;
    color: rgb(212, 71, 71);
    opacity:0;
    overflow: hidden;
    position: absolute;
}

.l{
    font-weight: 600;
}

em{
    font-family: 'notosans';
    font-weight: 600;
}