html,body{
    height: 100%;
    width: 100%;    
}

main{
    background-color: rgb(253, 235, 243);
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.m{
    text-decoration: underline;
}

.x{
    text-align: center;
    text-decoration: underline;
}

.t{
    color: white;
    background-color: rgb(178, 99, 235);
}

.z{
    background-color: white;
    border: 2px dashed rgb(178, 99, 235);
}

.k{
    text-align: center;
}