body{
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)),url('../assets/support-notes-colour-400px.png');
}

.all{
    text-align:center;    
}

h1{
    text-decoration: underline;
}

.form-control{
    margin-left: 5%;
    width: 20%;
    display: inline;
}

.n{
    display: none;
}

.x{
    justify-content: center;
}

.t{
    justify-content: center;
}

.hid{
    display:none;
}

.on{
    display: inline;
}

.a,.b,.c{
    width: fit-content;
}